/* src/app/styles/globals.scss */

body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Manrope', 'Manrope', ' Work Sans'  ; /* Example font family */
 margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}